<p style="color: green"><%= notice %></p>

<h1>All my lists</h1>

    <% @lists.each do |list| %>
    <p>
        <div class="containter border">
            <strong>Name:</strong>
            <%= link_to list.name, list %>
        </div>
    </p>
    <%end%>

</h1>

<div>
  <%= link_to "Create a list", new_list_path %>
</div>
